@import "tailwindcss";

.tmdb-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.tmdb-modal {
  background: #fff;
  width: 90%;
  max-width: 900px;
  padding: 1rem;
  border-radius: 8px;
}

.tmdb-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  gap: 1rem;
  margin-top: 1rem;
}

.tmdb-grid img {
  cursor: pointer;
  border-radius: 6px;
  transition: transform .2s;
}

.tmdb-grid img:hover {
  transform: scale(1.05);
}

/* Carrossel: esconde scrollbar */
.carousel-no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.carousel-no-scrollbar::-webkit-scrollbar {
  display: none;
}